a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(30, 49, 37);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }